<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container">
      <a class="navbar-brand" href="#">DatingApp</a>

      <ul *ngIf="loggedIn()" class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Matches</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Lists</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Messages</a>
        </li>
      </ul>
    
      <div *ngIf="loggedIn()" class="dropdown" dropdown>
        <a class="dropdown-toggle text-light" dropdownToggle>
          Welcome {{authService.decodedToken.unique_name | titlecase}}
        </a>
    
        <div class="dropdown-menu mt-3" *dropdownMenu> 
          <a class="dropdown-item" href="#"><i class="fa fa-user"></i> User Profile</a>
          <div class="divider"></div>
          <a class="dropdown-item" (click)="logOut()"><i class="fa fa-sign-out"></i> logout</a>
        </div>
      </div>
    
      <form *ngIf="!loggedIn()" #loginForm="ngForm" class="form-inline mt-2 mt-md-0" (ngSubmit)="login()">
        <input class="form-control mr-sm-2" type="text" [(ngModel)]="model.username" name="username" required placeholder="Username">
        <input class="form-control mr-sm-2" type="password" [(ngModel)]="model.password" name="password" required placeholder="password">
        <button class="btn btn-success my-sm-0" type="submit" [disabled]="!loginForm.valid">Login</button>
      </form>
  </div>
</nav>
